* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #1d273b;
  font-weight: 300;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
}

.contenedor1 {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 60px 0;
}

h1 {
  font-size: 50px;
}

/*header*/

nav {
  width: 100%;
  height: 80px;
  background: white;
  border-bottom: 1px solid transparent;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  z-index: 100;
  transition: ease-in-out 0.5s;
}

header::before {
  content: "";
  display: block;
  margin-bottom: 80px;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  align-items: center;
  padding: 0 40px;
}

.nav .logo img {
  height: 100%;
  vertical-align: top;
}

.logo {
  width: 80px;
}

.enlaces-header {
  font-weight: 300;
  transition: ease-in-out 0.5s;
}

.nav .enlaces-header a {
  color: black;
  text-decoration: none;
  margin-left: 20px;
}

.hamburger {
  width: 80px;
  height: 80px;
  text-align: center;
  z-index: 100;
  cursor: pointer;
  transition: color 0.5 ease-in-out;
  display: none;
}

.hamburger>box-icon {
  font-size: 25px;
  line-height: 80px;
}

.contenido-header {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contenido-header>img {
  width: 550px;
  animation: ease-in animat 1s;
}

@keyframes animat {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.textos-header {
  margin: 0 0 0 30px;
}

.contenido-header p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678
}

.contenido-header a {
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: rgb(37, 120, 230);
  text-align: center;
  color: white;
  padding: 12px 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(37, 120, 230, 0.45);
}

.contenido-header a:hover {
  background: rgb(37, 185, 230);
  transform: scale(1.1);
  transition: 1s;
}

.titulo {
  font-size: 50px;
}

/*about us*/

.about-us {
  background: #f2f2f2;
}

.contenedor-articulo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  justify-content: space-around;
}

.articulo {
  width: 29%;
  background: white;
  margin-bottom: 30px;
  border-radius: 10px;
  padding: 45px 30px 60px 30px;
  transition: 1s;
}

.articulo:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, .5);
}

.articulo>box-icon {
  font-size: 30px;
  color: rgb(255, 255, 255);
  background: rgba(37, 120, 230);
  display: inline-block;
  width: 70px;
  height: 70px;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 8 32 rgba(37, 120, 230, 0.45);
}

.articulo>box-icon:hover {
  background: rgb(37, 185, 230);
  transform: scale(1.1);
  transition: 1s;
}

.articulo>h3 {
  font-size: 24px;
  margin-top: 30px;
}

.articulo>p {
  font-weight: 100;
  color: #5d6678;
  margin-top: 15px;
  padding-bottom: 20px;
}

.articulo>a {
  color: #5d6678;
  font-weight: 400;
  text-decoration: none;
}

.articulo>a:hover {
  color: rgba(37, 120, 230);
  transition: color .5s;
}

/*questions*/

.questions {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questions>img {
  width: 550px;
}

.textos-questions {
  margin: 0 0 0 30px;
}

.textos-questions p {
  font-weight: 100;
  margin-top: 14px;
  color: #5d6678
}

.textos-questions a {
  margin: 28px 0 0 0;
  width: 130px;
  display: inline-block;
  background: rgb(37, 120, 230);
  text-align: center;
  color: white;
  padding: 12px 0;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 5px;
  box-shadow: 0 8px 32px rgba(37, 120, 230, 0.45);
}

.textos-questions a:hover {
  background: rgb(37, 185, 230);
  transform: scale(1.1);
  transition: 1s;
}

.results {
  background: #2570ff;
  padding-top: 30px;
}

.content-results {
  display: flex;
  justify-content: space-evenly;
}

.numbers {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.numbers .number {
  width: 45%;
  background: rgba(255, 255, 255, .2);
  color: white;
  border-radius: 10px;
  padding: 40px 35px;
  margin-bottom: 20px;
}

.numbers .number:hover {
  background: rgba(255, 255, 255, 0.274);
  transform: scale(1.1);
  transition: 1s;
}

.numbers .number h4 {
  color: white;
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.numbers .number p {
  color: #f2f2f2;
  font-weight: 300;
}

.results-text {
  width: 37%;
}

.results-text h4 {
  color: white;
  font-size: 40px;
}

.results-text p {
  color: white;
  font-weight: 300;
  margin: 20px;
}

.results-text>a {
  color: white;
  text-decoration: none;
  display: inline-block;
  border: 1px solid white;
  padding: 10px 0;
  width: 120px;
  text-align: center;
  border-radius: 10px;
}

.results-text>a:hover {
  background: rgb(37, 185, 230);
  transition: 1s;
}

/*services*/

.services {
  display: flex;
  justify-content: space-between;
}

.services>img {
  width: 500px;
}

.box-skills {
  margin: 30px 30px 0 0;
}

.box-skills h4 {
  font-size: 28px;
  background: #f2f2f2;
  width: 350px;
  border-radius: 6px;
  padding: 10px 0 10px 15px;
  margin-bottom: 10px;
}

.box-skills h4:hover {
  background: rgba(37, 185, 230, 0.507);
  transition: 1s;
}

/* footer */

footer {
  background: #f2f2f2;
  padding: 60px 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}

.partFooter {
  width: 20%;
  text-align: center;
}

.partFooter h4 {
  color: #1d273b;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.partFooter a {
  display: block;
  text-decoration: none;
  color: #5d6678;
  font-weight: 300;
  transition: color .3s ease-in-out;
  margin-bottom: 10px;
}

.partFooter a:hover {
  color: #2570ff;
}

.partFooter img {
  width: 70%;
}

.social-media box-icon {
  font-size: 20px;
  display: inline-block;
  color: #adb6c7;
  border: 1px solid #adb6c7;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  line-height: 36px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  transition: all ease-in-out .3s;
  margin-right: 5px;
}

.social-media box-icon:hover {
  background-color: rgba(37, 185, 230, 0.507);
  border-color: #2570ff;
  transition: 1s;
}

/*Responsive*/

@media screen and (max-width:800px) {
  .titulo {
    font-size: 45px;
  }
  .contenido-header {
    flex-direction: column;
    justify-content: space-evenly;
    height: 720px;
  }
  .contenido-header>img {
    width: 400px;
  }
  .textos-header {
    margin: 0;
  }
  /*about*/
  .articulo {
    width: 45%;
  }
  /*question*/
  .questions {
    height: 720px;
    justify-content: space-evenly;
    flex-direction: column;
  }
  .questions>img {
    width: 400px;
  }
  /*results*/
  .content-results {
    flex-direction: column-reverse;
  }
  .results-text>a {
    margin-bottom: 60px;
  }
  .numbers {
    width: 100%;
    justify-content: space-around;
  }
  .results-text {
    width: 100%;
  }
  /*service*/
  .services {
    flex-direction: column-reverse;
    align-items: center;
  }
  .box-skills {
    margin: 0 0 40px 0;
  }
  .box-skills h4 {
    width: 550px;
  }
  .services>img {
    width: 400px;
  }
  /*footer*/
  footer {
    justify-content: space-evenly;
  }
  .partFooter {
    width: 40%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width:600px) {
  .titulo {
    font-size: 35px;
  }
  h1 {
    font-size: 40px;
  }
  .contenido-header {
    height: 650px;
  }
  .nav {
    padding: 0 10px
  }
  .contenido-header>img {
    width: 200px;
  }
  .enlaces-header {
    position: fixed;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(1, 53, 112, 1) 14%, rgba(1, 58, 116, 1) 21%, rgba(1, 60, 118, 1) 33%, rgba(1, 105, 159, 1) 70%, rgba(3, 79, 149, 1) 81%, rgba(5, 54, 139, 1) 93%, rgba(9, 9, 121, 1) 100%);
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    clip-path: circle(0.0% at 100% 0);
  }
  .nav .menuDos {
    clip-path: circle(141.4% at 100% 0);
  }
  .nav .enlaces-header a {
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 800;
  }
  .hamburger {
    display: block;
  }
  /*about*/
  .articulo {
    width: 95%;
  }
  /*questions*/
  .questions>img {
    width: 200px;
  }
  /*results*/
  .numbers .number {
    width: 95%;
  }
  .results-text h4 {
    font-size: 35px;
  }
  /*service*/
  .services>img {
    width: 200px;
  }
  .box-skills h4 {
    width: 100%;
  }
  /*footer*/
  .partFooter {
    width: 95%;
    margin-bottom: 40px;
  }
}